<img src="../../../../src/assets\sourceImag/multirepuestos.png">

<mat-nav-list class="sidebar-nav-list">
  <a mat-list-item routerLink="/index">
    <span class="entry">
      <mat-icon class="home">home</mat-icon>
      <span>Index</span>
    </span>
  </a>


  <a mat-list-item routerLink="/cajas">
    <span class="entry">
      <mat-icon class="cajas">inbox</mat-icon>
      <span>Cajas</span>
    </span>
  </a>


  <a mat-list-item routerLink="/citas">
    <span class="entry">
      <mat-icon class="citas">event</mat-icon>
      <span>Citas</span>
    </span>
  </a>


  <a mat-list-item routerLink="/historial">
    <span class="entry">
      <mat-icon class="historial">history</mat-icon>
      <span>Historial</span>
    </span>
  </a>


  <a mat-list-item routerLink="/operaciones">
    <span class="entry">
      <mat-icon class="operaciones">build</mat-icon>
      <span>Operaciones</span>
    </span>
  </a>


  <a mat-list-item routerLink="/verificacion">
    <span class="entry">
      <mat-icon class="verificacion">check_circle</mat-icon>
      <span>Verificación</span>
    </span>
  </a>


  <a mat-list-item routerLink="/clientes">
    <span class="entry">
      <mat-icon class="clientes">people</mat-icon>
      <span>Clientes</span>
    </span>
  </a>
</mat-nav-list>
