<mat-toolbar color="primary" class="up">
  <span class="spacer"></span>
  <div class="arriba">
    <span>Nombre del Usuario</span>
    <mat-icon class="cuenta">account_circle</mat-icon>
  </div>
</mat-toolbar>

<mat-toolbar class="d">
  <!-- <mat-tab-group>
    <mat-tab label="First"> VER LISTA DE CLIENTES</mat-tab>
    <mat-tab label="Second"> VER CLIENTES DEUDORES </mat-tab>
    <mat-tab label="Third"> CLIENTES Y CREDITOS </mat-tab>
    <mat-tab label="Fourth"> CLIENTES Y CREDITOS </mat-tab>
  </mat-tab-group> -->
  <button mat-stroked-button class="example">VER LISTA DE CLIENTES</button>
  <button mat-stroked-button class="example">VER CLIENTES DEUDORES</button>
  <button mat-stroked-button class="example"  >CLIENTES Y CREDITOS</button>
  <button mat-stroked-button class="example">CLIENTES Y CREDITOS</button>
</mat-toolbar>
